@page
@model Web.Admin.Rounds.Rounds



<div>
    <table>
        <tr>
            <th>Started</th>
            <th>Course</th>
        </tr>
        @foreach (var round in Model.Data.Rounds)
        {
            <tr>
            
                <td>
                    <a href="rounds/@round.Id" up-layer="new">@round.StartTime</a>
                </td>
                
                <td>@round.CourseName - @round.CourseLayout</td>
            </tr>
        }
    </table>
</div>