@charset "utf-8";
$navbar-breakpoint: 0;

$table-row-active-background-color: #effaf3;
$table-row-active-color: #257942;

@import "../node_modules/bulma/bulma.sass";

.columns { 
  max-width: 100%; 
}

.columns-full {
  width: 100%; 
}

.lower-row{
    line-height: 0.5
}

.box {
  position: relative;
}

.box a {
  color: black;
  text-decoration: none; /* no underline */
}

.level {
  width: 100%;
}

.waggle {
  animation: waggle 2s 1s forwards ease-out;
  animation-iteration-count: 5;

}

@keyframes waggle {
  0% {
    transform: none;
  }
  50% {
    transform: rotateZ(-20deg) scale(1.2);
  }
  60% {
    transform: rotateZ(25deg) scale(1.2);
  }
  67.5% {
    transform: rotateZ(-15deg) scale(1.2);
  }
  75% {
    transform: rotateZ(15deg) scale(1.2);
  }
  82.5% {
    transform: rotateZ(-12deg) scale(1.2);
  }
  85% {
    transform: rotateZ(0) scale(1.2);
  }
  100% {
    transform: rotateZ(0) scale(1);
  }
}